################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.advixeproj
/AssuranceMGL7460/AssuranceMGL7460/My Advisor Results - AssuranceMGL7460/e000/e000.advixeexp
/AssuranceMGL7460/AssuranceMGL7460/My Advisor Results - AssuranceMGL7460/project_read_only.dflgadvixe
/AssuranceMGL7460/AssuranceMGL7460/My Advisor Results - AssuranceMGL7460/project_read_only.infoadvixe
/AssuranceMGL7460/.vs/AssuranceMGL7460/v14/.suo
