################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/AssuranceMGL7460/AssuranceMGL7460/bin/Debug/ressources
